<!-- main content -->
<div id="content" style="  margin-top: -20px; min-height: 700px;">
    <div class="">

        <div id="list" class="col-md-12 layout no-padding" style="background-color: #FFFFFF; padding-top: 15px;">
            <!-- top header list-->
            <div class="col-md-12">
                <div class="btn-group">
                    <a ui-sref="admin.suborganizations" class="btn btn-default btn-circle has-ripple" >
                        <i class="fa fa-arrow-left"></i>
                    </a>
                </div>
                <button class="btn btn-default btn-circle pull-right"><i class="fa fa-search"></i></button>
                <button class="btn btn-default btn-circle pull-right"><i class="fa fa-plus"></i></button>
                <h3 style="padding-top: 20px;">{{$state.current.ncyBreadcrumb.label | translate}}</h3>
                <hr>
            </div>
            <!-- top header list -->
            <hr>
            <!-- form new user -->
            <div id="row" class="">

                <form class="form-horizontal" >
                    <fieldset ng-disabled="isDisabled">
                    <div class="col-md-6"><br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Name
                            </label>
                            <div class="col-sm-9">
                                <input ng-model="suborganization.name" type="text" placeholder="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" >
                                Email
                            </label>
                            <div class="col-sm-9">
                                <input ng-model="suborganization.email" type="email" placeholder="" class="form-control">
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" >
                                Phone
                            </label>
                            <div class="col-sm-9">
                                <input ng-model="suborganization.phone" type="text"  data-mask="(999) 999-9999" data-placeholder= "x"  class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" >
                                Fax
                            </label>
                            <div class="col-sm-9">
                                <input ng-model="suborganization.fax" type="text" placeholder="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" >
                                Address
                            </label>
                            <div class="col-sm-9">
                                <input ng-model="suborganization.address" type="text" placeholder="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" >
                                Postal Code
                            </label>
                            <div class="col-sm-9">
                                <input ng-model="suborganization.postalcode" type="text" placeholder="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" >
                                City
                            </label>
                            <div class="col-sm-9">
                                <input ng-model="suborganization.city" type="text" placeholder="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" >
                                Country
                            </label>
                            <div class="col-sm-9">
                                <input ng-model="suborganization.country" type="text" placeholder="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" >
                                Description
                            </label>
                            <div class="col-sm-9">
                                <textarea ng-model="suborganization.description" class="form-control"></textarea>
                            </div>
                        </div>
                        <hr ng-show="$state.includes('admin.createSubOrganization') || $state.includes('admin.editSubOrganization')">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" >
                            </label>
                            <div class="col-sm-9">
                                <button class="btn btn-success" ng-click="create(suborganization)" ng-if="!suborganization.id"  ng-class="{'working':isDisabled===true}"><i class="fa fa-save"></i> {{"app.shared.common.save" | translate }}</button>
                                <button class="btn btn-info" ng-click="update(suborganization)" ng-if="suborganization.id"  ng-class="{'working':isDisabled===true}"><i class="fa fa-save"></i> {{"app.shared.common.update" | translate }}</button>
                            </div>
                        </div>
                    </div>
                    </fieldset>
                </form>
            </div>
            <!-- form new user -->
        </div>

    </div>
</div>
<!-- end #content -->