
@import url('https://fonts.googleapis.com/css?family=Mukta+Vaani:600');


.wrappa {
}

.jibbi {
    background-color: #fff;
}

.jibbi .left {
    float: left;
    width: 37.6%;
    height: 100%;
    border: 1px solid #ffffff;
    background-color: #fff;
}

.jibbi .left .top {
    position: relative;
    width: 86%;
    height: 96px;
    padding: 1px;
    margin-left: 13px;
    padding-top: 7%;
}

.jibbi .left .top:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 80%;
    height: 1px;
    content: '';
    background-color: #e6e6e6;
    transform: translate(-50%, 0);
}

.jibbi .left input {
    float: left;
    padding: 0 15px;
    border: 1px solid #e6e6e6;
    background-color: #eceff1;
    border-radius: 21px;
}

.jibbi .left input:focus {
    outline: none;
}

.jibbi .left a.search {
    display: block;
    float: left;
    width: 42px;
    height: 42px;
    margin-left: 10px;
    border: 1px solid #e6e6e6;
    background-color: #00b0ff;
    background-repeat: no-repeat;
    background-position: top 12px left 14px;
    border-radius: 50%;
}

.jibbi .left .people {
    margin-left: -1px;
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    width: calc(100% + 2px);
}

.jibbi .left .people .person {
    position: relative;
    width: 100%;
    padding: 12px 10% 16px;
    cursor: pointer;
    background-color: #fff;
}

.jibbi .left .people .person:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 80%;
    height: 1px;
    content: '';
    background-color: #e6e6e6;
    transform: translate(-50%, 0);
}

.jibbi .left .people .person img {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 12px;
    border-radius: 50%;
}

.jibbi .left .people .person .name {
    font-family: 'Mukta Vaani', sans-serif;
    font-size: 15px;
    color: #1a1a1a;
    position: relative;
    width: 59%;
    top: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.jibbi .left .people .person .time {
    font-size: 11px;
    position: absolute;
    top: 1px;
    right: 1%;
    padding: 4px;
    border-radius: 17px;
    color: #778496;
}

.jibbi .left .people .person .viewed {
    background-color: #96b99c;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    overflow: hidden !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff !important;
    position: relative;
    top: 9px;
}

.pulsing {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        background-color: #dd662a;
    }
    100% {
        background-color: #6e960a;
    }
    0% {
        background-color: #f7db5d;
    }

}

.jibbi .left .people .person {
    position: relative;
    width: 100%;
    padding: 12px 10% 16px;
    cursor: pointer;
    background-color: #fff;
}




.jibbi .left .people .person.active, .jibbi .left .people .person:hover {
    background-color: #bbd8b5;
}

.jibbi .left .people .person.active span, .jibbi .left .people .person:hover span {
    background: transparent;
}

.jibbi .left .people .person.active:after, .jibbi .left .people .person:hover:after {
    display: none;
}

.jibbi .right {
    position: relative;
    float: left;
    width: 62.4%;
    height: 100%;
}

.jibbi .right .top {
    width: 100%;
    height: 44px;
    padding: 12px 30px;
    margin-top: 44px;
    border: 1px solid #d6e2e2;
    background-color: #eceff1;
}

.jibbi .right .top span {
    font-family: 'Mallanna', sans-serif;
    font-size: 15px;
    color: #999;
}

.jibbi .right .top span .name {
    color: #1a1a1a;
}

.jibbi .right .chat {
    position: relative;
    display: none;
    overflow: hidden;
    padding: 1px 28px 2%;
    border-width: 1px 1px 1px 0;
    height: calc(100% - 48px);
    justify-content: flex-end;
    flex-direction: column;
}

.jibbi .right .chat.active-chat {
    display: block;
    display: flex;
}

.jibbi .right .chat.active-chat .bubble {
    -moz-transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
    -o-transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
    -webkit-transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
    transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
}

.jibbi .right .chat.active-chat .bubble:nth-of-type(1) {
    -moz-animation-duration: 0.15s;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
}

.jibbi .right .chat.active-chat .bubble:nth-of-type(2) {
    -moz-animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}

.jibbi .right .chat.active-chat .bubble:nth-of-type(3) {
    -moz-animation-duration: 0.45s;
    -webkit-animation-duration: 0.45s;
    animation-duration: 0.45s;
}

.jibbi .right .chat.active-chat .bubble:nth-of-type(4) {
    -moz-animation-duration: 0.6s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
}

.jibbi .right .chat.active-chat .bubble:nth-of-type(5) {
    -moz-animation-duration: 0.75s;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
}

.jibbi .right .chat.active-chat .bubble:nth-of-type(6) {
    -moz-animation-duration: 0.9s;
    -webkit-animation-duration: 0.9s;
    animation-duration: 0.9s;
}

.jibbi .right .chat.active-chat .bubble:nth-of-type(7) {
    -moz-animation-duration: 1.05s;
    -webkit-animation-duration: 1.05s;
    animation-duration: 1.05s;
}

.jibbi .right .chat.active-chat .bubble:nth-of-type(8) {
    -moz-animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
}

.jibbi .right .chat.active-chat .bubble:nth-of-type(9) {
    -moz-animation-duration: 1.35s;
    -webkit-animation-duration: 1.35s;
    animation-duration: 1.35s;
}

.jibbi .right .chat.active-chat .bubble:nth-of-type(10) {
    -moz-animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

.jibbi .right .write {
    margin: 4%;
    padding: 2%;
    padding-left: 27px;
    border: 1px solid #c5dfe6;
    background-color: #eceff1;
    border-radius: 5px;
}
.jibbi .right .write input {
    font-family: 'Mallanna', sans-serif;
    font-size: 16px;
    float: left;
    width: 347px;
    height: 40px;
    padding: 0 10px;
    color: #1a1a1a;
    border: 0;
    outline: none;
    background-color: #eceff1;
}

.jibbi .right .write .write-link.attach:before {
    display: inline-block;
    float: left;
    width: 20px;
    height: 42px;
    content: '';
    background-repeat: no-repeat;
    background-position: center;
}

.jibbi .right .write .write-link.smiley:before {
    display: inline-block;
    float: left;
    width: 20px;
    height: 42px;
    content: '';
    background-repeat: no-repeat;
    background-position: center;
}

.jibbi .right .write .write-link.send:before {
    display: inline-block;
    float: left;
    width: 20px;
    height: 42px;
    margin-left: 11px;
    content: '';
    background-repeat: no-repeat;
    background-position: center;
}

.jibbi .right .bubble {
    font-family: 'Mallanna', sans-serif;
    font-size: 15px;
    min-width: 26%;
    max-width: 70%;
    position: relative;
    display: inline-block;
    clear: both;
    margin-bottom: 8px;
    padding: 13px 15px;
    vertical-align: top;
    border-radius: 5px;
}

.message-time {
    font-family: 'Mallanna', sans-serif;
    font-size: 11px;
    position: absolute;
    right: 6px;
    bottom: 4px;
    color: #778496;
}

.jibbi .right .bubble:before {
    position: absolute;
    top: 19px;
    display: block;
    width: 8px;
    height: 6px;
    content: '\00a0';
    transform: rotate(29deg) skew(-35deg);
}

.jibbi .right .bubble.you {
    float: left;
    color: #080508;
    background-color: #aee3fb;
    align-self: flex-start;
    -moz-animation-name: slideFromLeft;
    -webkit-animation-name: slideFromLeft;
    animation-name: slideFromLeft;
}

.jibbi .right .bubble.you:before {
    left: -3px;
    background-color: #00b0ff;
}

.jibbi .right .bubble.me {
    float: right;
    color: #1a1a1a;
    background-color: #eceff1;
    align-self: flex-end;
    -moz-animation-name: slideFromRight;
    -webkit-animation-name: slideFromRight;
    animation-name: slideFromRight;
}

.jibbi .right .bubble.me:before {
    right: -3px;
    background-color: #eceff1;
}

.jibbi .right .conversation-start {
    position: relative;
    width: 100%;
    margin-bottom: 27px;
    text-align: center;
}

.jibbi .right .conversation-start span {
    font-family: 'Mallanna', sans-serif;
    font-size: 14px;
    display: inline-block;
    color: #999;
}

.jibbi .right .conversation-start span:before, .jibbi .right .conversation-start span:after {
    position: absolute;
    top: 10px;
    display: inline-block;
    width: 30%;
    height: 1px;
    content: '';
    background-color: #e6e6e6;
}

.jibbi .right .conversation-start span:before {
    left: 0;
}

.jibbi .right .conversation-start span:after {
    right: 0;
}

@keyframes slideFromLeft {
    0% {
        margin-left: -200px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}

@-webkit-keyframes slideFromLeft {
    0% {
        margin-left: -200px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}

@keyframes slideFromRight {
    0% {
        margin-right: -200px;
        opacity: 0;
    }
    100% {
        margin-right: 0;
        opacity: 1;
    }
}

@-webkit-keyframes slideFromRight {
    0% {
        margin-right: -200px;
        opacity: 0;
    }
    100% {
        margin-right: 0;
        opacity: 1;
    }
}

.scrollable-people {
    height: auto;
    overflow-x: hidden;
}

.jibbi .people .person:hover {
    margin-top: -1px;
    margin-left: -1px;
    padding-top: 13px;
    border: 0;
    background-color: #acdbf7;
    width: calc(100% + 2px);
    padding-left: calc(10% + 1px);
}

.jibbi .people .person.active, .jibbi .left .people .person:hover {
    margin-top: -1px;
    margin-left: -1px;
    padding-top: 13px;
    border: 0;
    width: calc(100% + 2px);
    padding-left: calc(10% + 1px);
}

