<div id="content">
    <div class="col-md-12">
        <div class="panel panel-default yep-card">
            <div class="panel-heading card-head">
                <div class="panel-title">
                    <span class="bold head-title"> {{$state.current.ncyBreadcrumb.label | translate}}</span>
                    <div class="bars pull-right">
                        <div class="display-flex ">
                            <select ng-model="perPage" ng-change="pageChanged(perPage)"
                                    ng-options="opt as opt.label for opt in units" class=" form-control inline col-md-2"
                                    ng-show="perPageShow"></select>
                        </div>
                        <button class="btn btn-link has-ripple" ng-click="perPageShow=!perPageShow"><i
                                class="fa fa-list-ol"></i></button>
                        <button class="btn btn-link has-ripple" ng-click="searchShow=!searchShow"><i
                                class="fa fa-search"></i></button>
                        <button class="btn btn-link has-ripple" ui-sref="admin.createTask"><i class="fa fa-plus "></i>
                        </button>
                        <div class="dropdown" show-if-has-any-permit="delete_task,export_csv,export_xls,export_pdf">
                            <a href="" data-target="#" class="dropdown-toggle btn btn-link" data-toggle="dropdown">
                                <i class="fa fa-ellipsis-v fa-lg"></i>
                            </a>
                            <ul class="dropdown-menu yep-panel-menu">
                                <li>
                                    <a ng-click="delete(selection)" show-if-has-permit="delete_task"><i
                                            class="fa fa-trash red"></i> {{'app.shared.common.delete' | translate}}<span
                                            class="badge pull-right"></span></a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a ng-click="export(selection,'csv')" download show-if-has-permit="export_csv"><i
                                            class="fa fa-file-text-o"></i> {{'app.shared.common.exportToCSV' |
                                        translate}}<span class="badge pull-right"></span></a>
                                </li>
                                <li>
                                    <a ng-click="export(selection,'xls')" download show-if-has-permit="export_xls"><i
                                            class="fa fa-file-excel-o green"></i> {{"app.shared.common.exportToExcel" |
                                        translate}}<span class="badge pull-right"></span></a>
                                </li>
                                <li>
                                    <a ng-click="export(selection,'pdf')" download show-if-has-permit="export_pdf"><i
                                            class="fa fa-file-pdf-o red"></i> {{"app.shared.common.exportToPDF" |
                                        translate}}<span class="badge pull-right"></span></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="panel-body ">
                <hr>
                <div class="res-table">
                    <table class="table table-striped table-hover table-fixed ellipsis-table">
                        <thead>
                        <tr>
                            <th width="2%" class="center">
                            </th>
                            <th width="3%"></th>
                            map_distance

                            <th width="10%">{{"task.form.opened_by" | translate}}</th>
                            <th width="10%">{{"task.form.bus" | translate}}</th>
                            <th width="10%">{{"task.form.driver" | translate}}</th>
                            <th width="10%">{{"task.form.map_distance" | translate}}</th>
                            <th width="10%">{{"task.form.estimated_time" | translate}}</th>
                            <th width="20%">{{"task.form.taskTitle" | translate}}</th>
                            <th width="10%">{{"task.form.category" | translate}}</th>
                            <th width="10%">{{"task.form.status" | translate }}</th>
                            <th width="10%">{{"task.form.startDate" | translate}}</th>
                            <th width="10%">{{"task.form.endDate" | translate}}</th>
                            <th width="10%">{{"task.form.startTime" | translate}}</th>
                            <th width="10%">{{"task.form.endTime" | translate}}</th>
                            <th width="5%">
                                <i class="fa fa-bolt"></i>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="search-tr">
                            <td colspan="11">
                                <div class="col-md-12" ng-show="searchShow">
                                    <div class="input-group">
                                        <input ng-model="query" id="search_text" name="search_text" type="text"
                                               class="form-control"
                                               placeholder="{{'app.shared.common.search' | translate}}">
                                    <span class="input-group-btn">
                                        <button ng-click="search(perPage)" class="btn btn-default search-btn"><i
                                                class="fa fa-search"></i></button>
                                    </span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat="task in tasks">
                            <td class="center">
                                <div class="checkbox checkbox-primary">
                                    <input id="{{task.id}}" type="checkbox" class="conchkNumber" value="{{task.name}}"
                                           ng-checked="selection.indexOf(task.id) > -1"
                                           ng-click="toggleSelection(task.id)">
                                    <label for="{{task.id}}">
                                    </label>
                                </div>
                            </td>
                            <td data-title="name">
                                <img ng-src="{{task.user.avatar_url !=='' && '../laravel-backend/public/uploads/'+task.user.avatar_url || '../laravel-backend/public/uploads/no_avatar.jpg'}}"
                                     alt="avatar" class="img-circle img-responsive">
                            </td>
                            <td data-title="Opened by">{{task.user.opened_by}}</td>
                            <td data-title="Bus">{{task.user.bus}}</td>
                            <td data-title="Driver">{{task.user.driver}}</td>
                            <td data-title="Estimated time">{{task.user.estimated_time}}</td>
                            <td data-title="Map_distance">{{task.user.map_distance}}</td>
                            <td data-title="Driver">{{task.user.driver}}</td>
                            <td data-title="Task Title">{{task.title}}</td>
                            <td data-title="Category">{{task.category.name}}</td>
                            <td data-title="Status">{{task.status === 0 ? "Open" : "Close"}}</td>
                            <td data-title="Start Date">{{task.start_date}}</td>
                            <td data-title="End Date">{{task.end_date}}</td>
                            <td data-title="Start Time">{{task.start_time}}</td>
                            <td data-title="End Time">{{task.end_time}}</td>
                            <td>
                                <a class="fa fa-pencil-square-o" ui-sref="admin.editTask({id:task.id})"></a> 
                                <a class="fa fa-file-text" ui-sref="admin.viewTask({id:task.id})"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <uib-pagination ng-show="pagination.total>10" total-items="pagination.total"
                                        ng-model="pagination.current_page" max-size="maxSize" class="pagination"
                                        boundary-links="true" rotate="false" ng-change="pageChanged(perPage)"
                                        items-per-page="pagination.per_page"></uib-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- main content -->