<div class="panel panel-default">
    <!--HEADING-->
    <div class="panel-heading">
        <ng-include src="'app/templates/form-header.tmpl.html'"></ng-include>
    </div>
    <!--HEADING-->
    <div class="panel-body">
        <div class="col-lg-6 col-sm-6 col-md-6"><br>
            <form class="form-horizontal">
                <!--Organizations-->
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {{"asset.table.organization" | translate}}
                        <span class="symbol required"></span>
                    </label>
                    <div class="col-sm-7 col-lg-7 col-md-7">
                        <div class="inner-addon right-addon">
                            <i class="glyphicon glyphicon-search"></i>
                            <input type="text"
                                   class="form-control scrollable-menu search-header"
                                   placeholder="{{'app.shared.common.search_organization_name' | translate}}"
                                   ng-change="searchOrganization(queryOrganization)"
                                   ng-model="queryOrganization"
                                   data-typeahead="org as org.name for org in organizations"
                                   typeahead-wait-ms=10
                                   typeahead-focus-first="true"
                                   typeahead-is-open="true"
                                   typeahead-on-select="onSelectOrganization($item, $model, $label)"
                            />
                        </div>
                        <!-- <input type="text"
                                placeholder="Search Organization.."
                                typeahead="organization as organization.name for organization in organizations | filter:$viewValue"
                                typeahead-wait-ms=10
                                typeahead-min-length='2'
                                typeahead-on-select='onSelectPart($item, $model, $label)'
                                class="form-control">-->
                        <!--
                         <input type="text"
                                       ng-model="queryOrganization"
                                       placeholder="Search Organization.."
                                       typeahead="organization as organization.name for organization in organizations | filter:$viewValue"
                                       typeahead-wait-ms=10
                                       typeahead-min-length='2'
                                       typeahead-on-select='onSelectPart($item, $model, $label)'
                                       class="form-control">

                                {{searchItem | json }}
                                <select ng-model="assetsperson.organization_id" ng-change="changeme()"
                                        ng-options="organization.id as organization.name group by organization.type for organization in organizations"
                                        class="form-control"
                                        name="organization"
                                        id="organization_id">
                                </select>&ndash;&gt;-->
                        <!--    <select class="form-control"
                                    ng-model="assetsperson.organization_id"
                                    ng-options="organization.name for organization in organizations | filter:searchOrganization">
                            </select>-->
                        <!--     <div ng-dropdown-multiselect=""
                                  class="form-control"
                                  options="organizations"
                                  ng-change="search()"
                                  selected-model="assetsperson.organization_id"
                                  extra-settings="organization_settings"
                                  group-by="type">
                             </div>
                             -->
                    </div>
                </div>

                <div class="form-group" ng-show="free_resources.length>0">
                    <label class="col-sm-3 control-label">
                        {{"app.shared.admin.menu.assetsresources" | translate}}
                    </label>
                    <div class="col-sm-7 col-md-7 col-lg-7">
                        <div ng-dropdown-multiselect=""
                             options="free_resources"
                             selected-model="assetsperson.selected_resources"
                             extra-settings="example11settings"
                             group-by="category">
                        </div>
                    </div>
                </div>
                <!--Category-->
                <div class="form-group" ng-if="assetscategories.length > 0">
                    <label class="col-sm-3 control-label">
                        {{"asset.table.category" | translate}}
                        <span class="symbol required"></span>
                    </label>
                    <div class="col-sm-7 col-lg-7 col-md-7">
                        <select ng-model="assetsperson.assets_category_id"
                                ng-options="category.id as category.name group by category.type for category in assetscategories"
                                class="form-control"
                                name="assetscategory"
                                id="assetscategory">
                        </select>
                    </div>
                </div>
                <!--AVATAR-->
                <!--       <div class="form-group">
                           <label class="col-sm-3 control-label">
                               {{"asset.table.avatar" | translate}}
                           </label>
                           <div class="col-sm-9">
                               <div ng-if="assetsperson.avatar_url!==undefined" ng-model="assetsperson.avatar_url"
                                    dropzone="dropzoneConfig" mode="single" class="dropzone dz-clickable dz-single"></div>
                               &lt;!&ndash;<div ng-if="deleteMessage" class="red">File removed successfully!</div>&ndash;&gt;
                           </div>
                       </div>-->
                <!--CARD ID-->
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {{"asset.table.card_id" | translate}}
                        <span class="symbol required"></span>
                    </label>
                    <div class="col-sm-5 col-md-5 col-lg-5">
                        <input class="form-control" type="text" ng-model="assetsperson.card_id"
                               value="{{assetsperson.card_id}}"/>
                    </div>
                </div>
                <!--PHONE-->
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {{"asset.table.phone" | translate}}
                        <span class="symbol required"></span>
                    </label>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <input class="form-control" type="text" ng-model="assetsperson.phone"
                               value="{{assetsperson.phone}}"
                        />
                        <!--data-mask="+57 * **** ***"-->
                    </div>
                </div>
                <!--FIRST NAME-->
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {{"asset.table.first_name" | translate}}
                        <span class="symbol required"></span>
                    </label>
                    <div class="col-sm-7 col-md-7 col-lg-7">
                        <input on-place-changed="placeChanged()" type="text" class="form-control"
                               ng-model="assetsperson.firstname"/>
                    </div>
                </div>
                <!--LAST NAME-->
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {{"asset.table.last_name" | translate}}
                        <span class="symbol required"></span>
                    </label>
                    <div class="col-sm-7 col-md-7 col-lg-7">
                        <input type="text" class="form-control" ng-model="assetsperson.lastname"/>
                    </div>
                </div>
                <!--       &lt;!&ndash;Search&ndash;&gt;
                       <div class="form-group"
                            ng-show="$state.includes('admin.createAssetsPerson') || $state.includes('admin.editAssetsPerson')">
                           <label class="col-sm-3 control-label">
                               {{"asset.table.search_address" | translate}}
                           </label>
                           <div class="col-sm-8 col-md-8 col-lg-8">
                               <input places-auto-complete size=120 component-restrictions="{country:'co'}"
                                      types="['address']"
                                      on-place-changed="placeChanged()" type="search" class="form-control"
                                      placeholder="Type City Name.."
                                      value="{{place.name}}"/>
                           </div>
                       </div>-->
                <!--CITY-->
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {{"asset.table.city" | translate}}
                    </label>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <input type="text" class="form-control" ng-model="assetsperson.city"/>
                    </div>
                </div>
                <!--STREET-->
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {{"asset.table.street" | translate}}
                    </label>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                            <textarea type="text" class="form-control" ng-model="assetsperson.street" rows="3">
                            </textarea>
                    </div>
                </div>
                <!--Default Point of Interests-->
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {{"asset.table.default_point" | translate}}
                    </label>
                    <div class="col-sm-9">
                        <select ng-model="assetsperson.default_point_of_interest" name="default_point_of_interest"
                                id="default_point_of_interest" class="form-control">
                            <option ng-selected="{{point.id == point.name}}"
                                    ng-repeat="point in points_of_int"
                                    value="{{point.id}}">
                                {{point.name}}
                                {{point.lat}} {{point.lng}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {{"asset.table.description" | translate}}
                    </label>
                    <div class="col-sm-9">
                        <textarea class="form-control" ng-model="assetsperson.description"></textarea>
                    </div>
                </div>
                <!--Birthdate-->
                <div class="form-group connected-group">
                    <label class="col-sm-3 control-label">
                        {{"asset.table.birthdate" | translate}}
                        <span class="symbol required"></span>
                    </label>
                    <div class="row">
                        <div class="col-md-2"
                             ng-show="$state.includes('admin.viewAssetsPerson') || $state.includes('admin.editAssetsPerson')">
                            <input type="text" class="form-control" value=" {{assetsperson.birthdate}}" disabled/>
                        </div>
                        <div class="col-md-2">
                            <select ng-model="birthday" name="dd" id="dd" class="form-control">
                                <option value="">DD</option>
                                <option value="01">1</option>
                                <option value="02">2</option>
                                <option value="03">3</option>
                                <option value="04">4</option>
                                <option value="05">5</option>
                                <option value="06">6</option>
                                <option value="07">7</option>
                                <option value="08">8</option>
                                <option value="09">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select ng-model="birthmonth" name="mm" id="mm" class="form-control">
                                <option value="">MM</option>
                                <option value="01">1</option>
                                <option value="02">2</option>
                                <option value="03">3</option>
                                <option value="04">4</option>
                                <option value="05">5</option>
                                <option value="06">6</option>
                                <option value="07">7</option>
                                <option value="08">8</option>
                                <option value="09">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <input ng-model="birthyear" type="text" placeholder="YYYY" id="yyyy" name="yyyy"
                                   class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {{"asset.table.gender" | translate}}
                    </label>
                    <div ng-show="$state.includes('admin.createAssetsPerson') || $state.includes('admin.editAssetsPerson')">
                        <div class="radio radio-primary radio-inline">
                            <input ng-model="assetsperson.gender" type="radio" value="0" name="gender"
                                   id="gender_female" checked="checked">
                            <label for="gender_female"> {{"asset.table.female" | translate}}
                            </label>
                        </div>
                        <div class="radio radio-primary radio-inline">
                            <input ng-model="assetsperson.gender" type="radio" value="1" name="gender"
                                   id="gender_male">
                            <label for="gender_male"> {{"asset.table.male" | translate}}
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4" ng-show="$state.includes('admin.viewAssetsPerson')">
                        <div class="col-md-12">
                            <input ng-show="assetsperson.gender" type="text" class="form-control"
                                   value="{{'asset.table.male' | translate}}" disabled/>
                            <input ng-show="!assetsperson.gender" type="text" class="form-control"
                                   value="{{'asset.table.female'| translate}}" disabled/>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {{"asset.table.blood_type" | translate}}
                    </label>
                    <div class="col-sm-3">
                        <div class="col-md-7 col-sm-8 col-lg-8">
                            <select ng-model="assetsperson.blood_type" name="blood_type" id="blood_type"
                                    class="form-control">
                                <option value="O+">O+</option>
                                <option value="O-">O-</option>
                                <option value="A+">A+</option>
                                <option value="A-">A-</option>
                                <option value="B+">B+</option>
                                <option value="B-">B-</option>
                                <option value="AB+">AB+</option>
                                <option value="AB–">AB–</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group"
                     ng-show="$state.includes('admin.createAssetsPerson') || $state.includes('admin.editAssetsPerson')">
                    <label class="col-sm-3 control-label">
                    </label>
                    <div class="col-sm-5 col-sm-offset-2">
                        <button class="btn btn-block btn-success btn-lg" ng-click="create(assetsperson)" type="button"
                                ng-if="!assetsperson.id"
                                ng-class="{'working':isDisabled===true}"><i class="fa fa-save"></i>
                            {{"app.shared.common.save" | translate }}
                        </button>
                        <button class="btn btn-block btn-info btn-lg" ng-click="update(assetsperson)" type="button"
                                ng-if="assetsperson.id"
                                ng-class="{'working':isDisabled===true}"><i class="fa fa-save"></i>
                            {{"app.shared.common.update" | translate
                            }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-6 col-sm-6 col-md-6"><br>
            <div style="max-width:100%;height:660px;">
                <ng-map default-style="true" center="{{points_of_int[0].lat}},{{points_of_int[0].lng}}" zoom="13">
                    <marker id='{{point.id}}' position="{{point.lat}}, {{point.lng}}"
                            ng-repeat="point in points_of_int | orderBy:sortType:sortReverse | filter:searchItem"
                            on-mouseover="showPointDetail(point)">
                    </marker>
                    <!--    <info-window id="info-window" class="info-window-style" ng-model="info-window">
                            <div ng-non-bindable="">
                                Name: {{point.name}}<br/>
                            </div>
                        </info-window>-->
                </ng-map>
            </div>
        </div>

    </div>
</div>
