<!-- main content -->
<div id="content">
    <div class="col-md-12">
        <div class="panel panel-default yep-card">
            <div class="panel-heading card-head">
                <div class="panel-title">
                    <a ui-sref="admin.permissions" class="btn btn-link has-ripple" >
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    <span class="bold head-title"> {{$state.current.ncyBreadcrumb.label | translate}}</span>
                </div>
            </div>
            <div class="panel-body ">
                <hr>
                <div class="alert alert-{{notification.type}} fade in" ng-show="notification.status">
                    <a href="" data-target="#" class="close" ng-click="notification.status = false;">&times;</a>
                    <ul class="list-unstyled" ng-repeat="msg in notification.message">
                        <li ng-repeat="item in msg">
                            {{item}}
                        </li>
                    </ul>
                </div>
                <!--notification alert panel -->
                <form class="form-horizontal">
                    <fieldset ng-disabled="isDisabled">
                        <div class="col-md-7"><br>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    {{"permission.form.permissionName" | translate}}
                                </label>
                                <div class="col-sm-9">
                                    <input ng-model="permission.name" type="text" placeholder="" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    {{"permission.form.displayName" | translate}}
                                </label>
                                <div class="col-sm-9">
                                    <input ng-model="permission.display_name" type="text" placeholder="" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" >
                                    {{"permission.form.description" | translate}}
                                </label>
                                <div class="col-sm-9">
                                    <textarea ng-model="permission.description" class="form-control"></textarea>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" >
                                </label>
                                <div class="col-sm-9">
                                    <button class="btn btn-success"  type="button" ng-click="create(permission)" ng-class="{'working':isDisabled===true}"><i class="fa fa-save"></i> {{"app.shared.common.save" | translate }}</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- main content -->
